<div data-questions-amount=<%= @questions.length %>>
  <% @questions.each_with_index do |question, index| %>
    <%= render partial: 'quiz/question', 
        locals: {
          question: question['question'], 
          answers: question['answers'], 
          category: question['category'], 
          difficulty: question['difficulty'],
          question_number: index + 1,
          questions_amount: @questions.length
          } %>
  <% end %>
  <div id='quiz-results' class='hidden' data-quiz-correct-answers=<%= @questions_correct_answers %>>
    <div>
      <span id='quiz-results-score'></span>
      <span>/<%= @questions.length %></span>
    </div>
    <div>
      <button class='btn btn-primary' id='quiz-reset-btn'>Restart Same Quiz</button>
      <button class='btn btn-primary' id='quiz-restart-btn'>New Quiz With Same Settings</button>
    </div>
  </div>
</div>