<div class="footer-navbar">
  <%= link_to "/" do %>
    <i class="bi bi-house"></i>
    <div>
      Home
    </div>
  <% end %>
  
  <%= link_to "/" do %>
    <i class="bi bi-camera"></i>
    <div>
      Scan
    </div>
  <% end %>
  <%= link_to "/" do %>
    <i class="bi bi-heart"></i>
    <div>
      Saved
    </div>
  <% end %>
  <%= link_to "/" do %>
    <i class="bi bi-person"></i>
    <div>
      Profile
    </div>
  <% end %>
</div>