<div class="footer-navbar">
  <div>
      90+ Attempted
  </div>
  
  <%= link_to "https://www.facebook.com" do %>
    <i class="bi bi-facebook"></i>
    <div>
      Facebook
    </div>
  <% end %>
  <%= link_to "https://twitter.com" do %>
    <i class="bi bi-twitter"></i>
    <div>
      Twitter
    </div>
  <% end %>
  <%= link_to "https://au.linkedin.com" do %>
    <i class="bi bi-linkedin"></i>
    <div>
      Linkedin
    </div>
  <% end %>
</div>